# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# 
*.lst
*.list
*.bin
*.map

# macOS
._*
.DS_Store


linux_rpi_artnet_l6470/linux_rpi_artnet_l6470
linux_rpi_artnet_l6470/spiflash.bin
linux_rpi_artnet_l6470/main.map
lib-network/src/linux/networktcp.txt
lib-device/examples/mcp3424
