# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# 
*.lst
*.list
*.bin
*.map

# macOS
._*
.DS_Store


lib-device/examples/mcp3424
lib-showfile/Doxygen
lib-network/include/net
lib-network/src/net
lib-network/src/emac/gd32
lib-network/src/linux/networktcp.txt
lib-network/src/net/apps/ntp/gd32